#Main FML Access Transformer configuration file
# TileEntity addMapping
public net.minecraft.tileentity.TileEntity func_70306_a(Ljava/lang/Class;Ljava/lang/String;)V #MD:TileEntity/func_70306_a
# EntityList addMappings
public net.minecraft.entity.EntityList func_75618_a(Ljava/lang/Class;Ljava/lang/String;I)V #MD:EntityList/func_75618_a
public net.minecraft.entity.EntityList func_75614_a(Ljava/lang/Class;Ljava/lang/String;III)V #MD:EntityList/func_75614_a
public net.minecraft.entity.EntityList field_75625_b #nameToClassMap
public net.minecraft.entity.EntityList field_75626_c #classToNameMap
public net.minecraft.entity.EntityList field_75623_d #idToClassMap
# RenderEngine
public net.minecraft.client.renderer.RenderEngine field_78367_h #textureList
public net.minecraft.client.renderer.RenderEngine field_78366_k #texturePack
# RenderManager
public net.minecraft.client.renderer.entity.RenderManager field_78729_o #renderers
# RenderBlocks - everything
public net.minecraft.client.renderer.RenderBlocks * # all fields
public net.minecraft.client.renderer.RenderBlocks *() # all methods
#RenderPlayer
public-f net.minecraft.client.renderer.entity.RenderPlayer field_77110_j #armorlist
#RenderBiped
public-f net.minecraft.client.renderer.entity.RenderBiped field_82424_k #armorlist
#StringTranslate
public net.minecraft.util.StringTranslate field_74815_b #FD:StringTranslate/field_74815_b
public net.minecraft.util.StringTranslate field_74813_d #FD:StringTranslate/field_74813_d
# TileEntityRenderer
public net.minecraft.client.renderer.tileentity.TileEntityRenderer field_76966_m #FD:TileEntityRenderer/field_76966_m
# CraftingManager - make the add recipe methods public
public net.minecraft.item.crafting.CraftingManager func_92103_a(Lnet/minecraft/item/ItemStack;[Ljava/lang/Object;)Lnet/minecraft/item/crafting/ShapedRecipes; #addRecipe
public net.minecraft.item.crafting.CraftingManager func_77596_b(Lnet/minecraft/item/ItemStack;[Ljava/lang/Object;)V #addShapelessRecipe
# WeightedRandomItem
public net.minecraft.util.WeightedRandomItem field_76292_a #probability
# ItemStack
#public+f tv.c #FD:ItemStack/field_77993_c #itemId
# StatBase
public net.minecraft.stats.StatBase field_75978_a #statName
# NetLoginHandler
public net.minecraft.network.NetLoginHandler func_72531_a(Lnet/minecraft/network/NetLoginHandler;Z)Z #'complete connection'
public net.minecraft.network.NetLoginHandler field_72543_h #userName
# EntityPlayerMP getNextWindowId
public net.minecraft.entity.player.EntityPlayerMP func_71117_bO()V #MD:EntityPlayerMP/func_71117_bO
public net.minecraft.entity.player.EntityPlayerMP field_71139_cq #FD:EntityPlayerMP/field_71139_cq
# EntityAITaskEntry
public net.minecraft.entity.ai.EntityAITaskEntry
# EntityAITasks
public net.minecraft.entity.ai.EntityAITasks field_75782_a #taskList
# BlockChest
public net.minecraft.block.BlockChest func_72292_n(Lnet/minecraft/world/World;III)Z #isOcelotBlockingChest
# EntityLiving
public net.minecraft.entity.EntityLiving field_70736_aM #carryoverDamage
public net.minecraft.entity.EntityLiving field_70714_bg #tasks
public net.minecraft.entity.EntityLiving field_70703_bu #isJumping
# EntityAIOcelotSit
protected net.minecraft.entity.ai.EntityAIOcelotSit func_75398_a(Lnet/minecraft/world/World;III)Z #nearestSittableBlock
protected net.minecraft.entity.ai.EntityAIOcelotSit func_75399_f()Z #isblocksittable
# CallableMinecraftVersion - sanity check the MC version
public net.minecraft.crash.CallableMinecraftVersion
public net.minecraft.crash.CallableMinecraftVersion <init>(Lnet/minecraft/crash/CrashReport;)V #constructor
# EntityAnimal
public net.minecraft.entity.passive.EntityAnimal field_70881_d #inLove
# WorldType
public net.minecraft.world.WorldType <init>(ILjava/lang/String;)V #MD:WorldType/<init>(ILjava/lang/String;)
public net.minecraft.world.WorldType <init>(ILjava/lang/String;I)V #MD:WorldType/<init>(ILjava/lang/String;I)
# ComponentVillage
public net.minecraft.world.gen.structure.ComponentVillage
# EntityVillager - minmax lists
public net.minecraft.entity.passive.EntityVillager func_70948_a(Lnet/minecraft/village/MerchantRecipeList;ILjava/util/Random;F)V #addBuy
public net.minecraft.entity.passive.EntityVillager func_70949_b(Lnet/minecraft/village/MerchantRecipeList;ILjava/util/Random;F)V #addSell
public net.minecraft.entity.passive.EntityVillager field_70958_bB #FD:EntityVillager/field_70958_bB
public net.minecraft.entity.passive.EntityVillager field_70960_bC #FD:EntityVillager/field_70960_bC
# GuiButtonMerchant
public net.minecraft.client.gui.GuiButtonMerchant
# GuiYesNo
protected net.minecraft.client.gui.GuiYesNo field_73942_a #guiScreen
